@media(min-width: 801px) {
    .register-form {
        width: 400px;
        margin-left: 60%;
        position: absolute;
        top: 20%;
    }

    h1.title {
        font-weight: 400;
    }
}

@media(max-width: 800px) {
    .register-form {
        margin-left: 10%;
    }

    h1.title {
        font-weight: 400;
    }
}