@media(min-width: 801px) {
    .config-container {
        padding-left: 70px;
        padding-top: 60px;
    }
    .save-config {
        margin-bottom: 20px;
    }
    .schedule {
        margin-top: 20px;
    }
    .schedule button {
        margin-left: 8px;
    }
}

@media(max-width: 800px) {
    .config-container {
        padding: 20px 0 0 10px;
    }
}

.tags-form button {
    margin-left: 8px;
}

.tags-container {
    margin-bottom: 40px;
}

.emails-form button {
    margin-left: 8px;
}

.save-config {
    margin-top: 20px;
}