<div class="dashboard-container">
    <header>
        <div class="heading">
            <p>TOPCODER CHALLENGE NOTIFIER</p>
            <p>ADMIN</p>
        </div>
    </header>
    <main>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Enter username" name="username"
                        formControlName="username" required>
                </mat-form-field> <br/>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter password" type="password" name="password"
                        formControlName="password" required>
                </mat-form-field> <br/>
                <div class="error" *ngIf="message">{{message}}</div>
                <button mat-flat-button color="primary" class="login" [disabled]="submitting">LOGIN</button>
            </form>
        </div>
    </main>
</div>