@media(min-width: 801px) {
    .server-status mat-card {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .schedule-now {
        margin-top: 20px;
    }

    .schedule-now form{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .schedule-now .form {
        padding: 10px;
    }

    .error-log {
        margin: 10px;
    }

    .error-log button+button {
        margin-left: 10px;
    }
}

@media(max-width: 800px) {
    .server-status mat-card {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .schedule-now form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .schedule-now form button {
        margin-top: 10px;
    }

    .schedule-now .form {
        margin-top: 10px;
    }

    
}

.server-status ul li {
    display: flex;
    align-items: center;
}

.server-status ul ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.reload button {
   margin-left: 20px;
}