@media(min-width: 801px) {
    .server-status mat-card {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media(max-width: 800px) {
    .server-status mat-card {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.server-status ul li {
    display: flex;
    align-items: center;
}

.server-status ul ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.reload button {
   margin-left: 20px;
}