<div class="root-container">
    <div class="server-status">
        <mat-card>
            <div class="tasks">
                <ul>
                    <li>TASKS
                        <ul>
                            <li style="color: green;">SUCCESS: {{serverStatus?.successfullTasks}} <mat-icon>check_circle</mat-icon></li>
                            <li style="color: red;">FAILED: {{serverStatus?.failedTasks}} <mat-icon>cancel</mat-icon></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="errors">
                <ul>
                    <li>ERRORS
                        <ul>
                            <li style="color: orangered;">OCCURRED: {{serverStatus?.errors}} <mat-icon>error</mat-icon></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="reload">
                <button mat-flat-button color="primary"
                    (click)="loadStatus()">RELOAD</button>
            </div>
        </mat-card>
    </div>
    <div class="schedule-now">
        <form>
            <div class="form">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter email" name="email" (keyup)="0"
                         required>
                </mat-form-field>
            </div>
            <div class="form">
                <button mat-flat-button color="primary" class="all">NOTIFY NOW ALL CHALLENGES</button>
            </div>
            <div class="form">
                <button mat-flat-button color="primary" class="new">NOTIFY NOW NEW CHALLENGES</button>
            </div>
        </form>
    </div>
    <div class="error-log">
        <button mat-flat-button color="primary" class="show-error-log"
             (click)="showLog()" [disabled]="displayLogs">SHOW ERROR LOG</button>
        <button mat-flat-button color="primary" class="hide-error-log"
             (click)="hideLog()" [disabled]="!displayLogs">HIDE ERROR LOG</button>
        <br/>
        <div class="progress">
            <mat-progress-bar *ngIf="gettingLogs" mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="log-table" *ngIf="displayLogs">
            <mat-list>
                <mat-list-item *ngFor="let message of errorMessages; let i = index">
                    <p mat-line>{{i+1}}. {{message}}</p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>