<div class="main-container">
    <header>
        <div class="heading">
            <p>TOPCODER CHALLENGE NOTIFIER</p>
            <div class="nav-bar">
                <nav *ngIf="page === 'login-register'">
                    <ul>
                        <li><a routerLink="/register" routerLinkActive="active">/register</a></li>
                        <li><a routerLink="/login" routerLinkActive="active">/login</a></li>
                    </ul>
                </nav>
                <nav *ngIf="page === 'user-dashboard' || page === 'admin-dashboard'">
                    <ul>
                        <li><a routerLink="/un-schedule">/un-schedule</a></li>
                        <li><a routerLink="/logout">/logout</a></li>
                    </ul>
                </nav>
                <nav *ngIf="page === 'un-schedule'">
                    <ul>
                        <li><a routerLink="/user-dashboard">/dashboard</a></li>
                    </ul>
                </nav>
            </div>
            <div class="info" *ngIf="page === 'user-dashboard'">
                <p><mat-icon class="warning">warning</mat-icon>Notifications Schdeule Time updated to time less than 30 min
                     from now will be notified from tomorrow.</p>
                <p><mat-icon class="warning">warning</mat-icon>Actual notification time may vary by +/- 10 min, due to the 
                    tunning of app scheduler to reduce load.</p>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    <div class="mobile-spacer"></div>
</div>
