<div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="title">ADMIN LOGIN</h1>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email" name="email"
                formControlName="email" required autofocus>
        </mat-form-field> <br/>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter password" type="password" name="password"
                formControlName="password" required>
        </mat-form-field> <br/>
        <div class="error" *ngIf="message">{{message}}</div>
        <button mat-flat-button color="primary" class="login" [disabled]="submitting" type="submit">SUBMIT</button>
    </form>
</div>
