<div class="index-container">
    <div class="info">
        <p>Notifies Topcoder new challenges dailly through mail</p>
        <ul>
            <li><mat-icon>chevron_right</mat-icon> You can add tags(Ex: Java, NodeJs) to filter out challenges based on those tags.</li>
            <li><mat-icon>chevron_right</mat-icon> You can change time to get notified at that time(Default: none).</li>
            <li><mat-icon>chevron_right</mat-icon> Challenges once notifed to you won't get notified again next day unless there are
            new challenges.</li>
        </ul>
        <p>Please Note:</p>
        <ul>
            <li><mat-icon>chevron_right</mat-icon> Notification Schdeule Time updated to time less than 30 min
                from now will be notified from tomorrow.</li>
            <li><mat-icon>chevron_right</mat-icon> Actual notification time may vary by +/- 10 min, due to the 
                tunning of app scheduler to reduce server load.</li>
                <li><mat-icon>chevron_right</mat-icon> Challenges are filtered out by regex matching tags in description, be sure
                to give all variation of tag like (NodeJs, Node.Js)</li>
                <li><mat-icon>chevron_right</mat-icon> To un-schedule click /un-schedule link in dashboard.</li>
                <li><mat-icon>chevron_right</mat-icon> Currently challenges of type develop are supported will extend in future(TODO).</li>
        </ul>
    </div>
</div>
